.container{
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    width: 100%;
}

.section{
    margin: 10px auto;
    margin-left: 10px;
    height: 100%;
    width: 750px;
    display: inline-flex;
    vertical-align: top;
    background: #d2d2d2;
    border-radius: 25px;
}

@media screen and (max-width: 1500px) {
    .section{
        display: flex;
        margin: 10px auto;
    }
}

#canvas{
    height: 500px;
    background: #FFF;
    margin: 20px;
    width: 500px;
    display: inline-flex;
}

.controls > button{
    background: white;
    border: none;
    padding: 13px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.colors{
    margin-top: 10px;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.colors > button{
    border: none;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    margin: 2px;
}

button:hover{
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75);
}

button.active{
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75);
}

.generator{
    width: 500px;
    height: 500px;
    background: #FFFFFF;
    margin: 20px;
}

.sample{
    width: 10px;
    height: 10px;
    background: white;
    margin-left: 20px;
    margin-top: 20px;
}

.loading{
    text-align: center;
    margin-left: 22%;
    margin-top: 15%;
    font-size: 20px;
    position: absolute;
    background: #f1f1f1;
    padding: 20px;
    border-radius: 9999px;
    /*box-shadow: 0px 0px 0px 150px rgba(0,0,0,0.150);*/
}

.loading > div{
    font-size: 15px;
}
